<head th:fragment="name_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">

<link rel="icon" type="image/x-icon" href="../static/fav.ico">
<title>POS</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="../static/app.css">
<script src="https://kit.fontawesome.com/14889d2d63.js" crossorigin="anonymous"></script>
<script>
     var btnsContainer = document.getElementById("#navigation");
     var btns=document.getElementsByClassName("nav-link");
     for(var i=0;i<btns.lenght;i++){
         btns[i].addEventListener("click",function(){
             if(btns[i].classList.contains('active')){
                  btns[i].remove("active");
             }
     });
     }
</script>
</head>

<nav class="navbar navbar-expand-lg navbar-light" th:fragment="name_site_navbar" id="navigation">
  <a class="navbar-brand" th:href="@{/ui/home}" style="width:50px; margin-left: 80px;">
    <img th:src="@{/static/download.png}" alt="">
  </a>
      <ul class="navl navbar-nav mr-auto">
      <li class="nav-item auto">
        <a class="nav-link active" id="brand" th:href="@{/ui/brand}">Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/product}">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/inventory}">
          Inventory
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/previous_orders}">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/ui/reports}">Sales</a>
      </li>
    </ul>
</nav>

<footer class="footer  mt-1" th:fragment="name_footer">
	Copyright Increff 2019
	&nbsp;
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"  crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
	<script th:src="@{/static/papaparse.min.js}"/></script>
	    <script th:src="@{/static/jquery-ajax-native.js}"></script>
	<script th:src="@{/static/app.js}"/></script>
	 	
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
</body>
